* {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    min-height: 100%;
    position: fixed;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background: linear-gradient(162.5deg, rgba(12,15,152,1) 0%, rgba(1,3,94,1) 100%);
}
